

h1 {
    color:rgba(29, 29, 150, 0.349);
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: coral;
    padding: 50px;
    border: 25px;
    border-color: darkgreen;
    border-style: groove;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

.divClass {
    margin: 20px;
    padding: 10px;
    border: 4px outset #adadad;
}